---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Un jóven adventista</h1>
			<p>
				Bienvenido a este sitio web en el que encontrarás todo tipo de recursos para 
				Sociedad de Jóvenes, como también reflexiones, la matutina y herramientas útiles
				para que un joven cristiano adventista mejore su vida espiritual y su relación con Dios.
			</p>
		</main>
		<Footer />
	</body>
</html>
