---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Un jóven adventista</h1>
			<p>
				Bienvenido a este sitio web en el que encontrarás todo tipo de recursos para 
				Sociedad de Jóvenes, como también reflexiones, la matutina y herramientas útiles
				para que un joven cristiano adventista mejore su vida espiritual y su relación con Dios.
			</p>
			<script type="text/javascript">
				atOptions = {
					'key' : '34a37e28024230ac2cfe1731babbb558',
					'format' : 'iframe',
					'height' : 300,
					'width' : 160,
					'params' : {}
				};
			</script>
			<script type="text/javascript" src="//www.highperformanceformat.com/34a37e28024230ac2cfe1731babbb558/invoke.js"></script>
		</main>
		<Footer />
		<script type='text/javascript' src='//pl24787064.profitablecpmrate.com/b7/ea/7b/b7ea7b797b3a85428ca7cde0533bd6cc.js'></script>
	</body>
</html>
